# Discord
TOKEN=YOUR_DISCORD_BOT_TOKEN
CLIENT_ID=YOUR_DISCORD_APPLICATION_ID
GUILD_ID=YOUR_TEST_SERVER_ID

# Roblox Open Cloud
ROBLOX_API_KEY=YOUR_ROBLOX_OPEN_CLOUD_API_KEY
ROBLOX_CREATOR_ID=YOUR_ROBLOX_CREATOR_ID
ROBLOX_IS_GROUP=false
ROBLOX_UNIVERSE_ID=YOUR_ROBLOX_UNIVERSE_ID
ROBLOX_PLACE_ID=YOUR_ROBLOX_PLACE_ID
